html {
  font-family: 'Times New Roman', serif;
}

.top-bar {
  background-color: hsl(120, 100%, 0%);
  padding: 10px 0;
  margin-bottom: 20px;
  color: white;
}

.top-bar h1 {
  margin: 0;
  text-align: center;
}

.circle-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 10px;
}

#circle-canvas {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
}

.fretboard-container {
  width: 100%;
  max-width: 1200px;
  overflow-x: auto;
  margin: 0 auto 40px;
}

#fretboard-canvas {
  display: block;
  width: 1200px;
  height: 300px;
}

.piano-container {
  width: 100%;
  max-width: 1200px;
  overflow-x: auto;
  margin: 0 auto 40px;
}

.chord-variations-bar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 85%);
  padding: 10px;
  box-sizing: border-box;
}

.piano-instructions {
  margin: 0 10px 0 0;
}

.chord-variation-button {
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 5px;
  background-color: white;
  padding: 3px 7px;
  font-size: 17px;
  margin: 3px 5px 3px 0;
  box-shadow: 0 2px 3px hsl(0, 0%, 70%);
  font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
}

.chord-variation-button.active {
  background-color: black;
  color: white;
  border: 1px solid black;
}

#piano-canvas {
  display: block;
  width: 1200px;
  height: 150px;
}

.chords-in-key-toggle {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.chords-in-key-toggle input {
  margin-right: 5px;
}

.instrument-selector {
  text-align: center;
  margin: 25px auto 15px;
}

.instrument-selector .legend {
  display: inline-block;
  margin: 0 15px 0 0;
}

.instrument-selector fieldset {
  display: inline-block;
}

.instrument-selector label {
  font-size: 20px;
  padding: 5px;
  margin-right: 15px;
}
